.country-text {
    bottom: top;
    left: 0px;
    background: #3F3F3FB2;
    padding: 10px;
    position: absolute;
    width: -webkit-fill-available;
    top: 133px;
    color: #4CCD10;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    
  }
  .search-icon-style{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
  }
  .invest-caro{
    margin: 0 60px;
    border-radius: 30px;
  }
  .country-img {
    position: absolute;
      height: auto;
  }
  .ht-200 {
    height: 200px;
  }
  .m-l-10{
    margin-left: 10px;
  }
  .btn-outline-secondary {
    color: #ffffff !important;
   border-color: #ffffff !important;
  }
  .banner {
    background-image: url("../../assets/banner.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 540px;
  }
  .banner-head {
    font-size: 6rem;
  }
  .banner-text {
    font-size: 2.5rem;
  }
  .bg-green {
    background: #138541;
   
  }
  .card {
    height: 385px !important;
    border: none !important;
    background: transparent !important;
  }
  .card-body {
    background: #25DD6E;
    color: #fff;
    border-radius: 18px !important;
  }
  .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF !important;
    
    transition: all 0.6s ease;
  }
  .card:hover .card-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    
  }
  .card-text {
    display: none;
  }
  .card:hover .card-text {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 75%;
    font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  transition: all 0.3s ease;
  color: #fff !important;
  }
  .content-text {
    font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-align: center;
  }
  
  .industry {
    justify-content: center;
    display: grid;
  }
  .industry > p {
    margin-bottom: 0;
  }
  .industry-img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
  }
  button.owl-next {
    position: absolute;
    right: 0;
    top: 0%;
    font-size: 55px !important;
  }
  button.owl-prev {
    position: absolute;
    left: 0;
    top: 0%;
    font-size: 55px !important;
  }
  
  .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
    color: #000 !important;
  }
  #scroll {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 15px 16px 25px 16px;
    overflow-y: auto;
    height: 500px;
    text-align: center;
  }
  .contain {
    display: flex;
      flex-direction: column;
      line-height: 5px;
      align-items: center;
      overflow-y: auto;
      margin-right: 50px;
      display: block;
  }
  #flag {
    width: 120px;
    height: 120px;
  }
  #name {
    line-height: 20px;
    font-size: 20px;
    font-family: Inter;
  }
  .bg-gold {
    background: #d4c863;
  }
  
  #scroll::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  #scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #D9D9D9; 
    border-radius: 10px;
  }
   
  /* Handle */
  #scroll::-webkit-scrollbar-thumb {
    background: #9E9B9B; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #scroll::-webkit-scrollbar-thumb:hover {
    background: #9E9B9B; 
  }
  .crafting-text {
    font-size: 18px;
  }
  .crafing-head {
    color: #FFCC00 !important;
    font-weight: 600;
  }
  .profile-pic {
    width: -webkit-fill-available !important;
  }
  .bg-blue {
    background: #070423;
  }
  .font-gold {
    color: #FFCC00;
  }
  .bg-cement {
    background: #E0E0E0;
  }
  .success > button.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 55px !important;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 3% !important; 
    color: #000 !important;
  }
  .carousel-control-prev-icon {
    background-image: url("../../assets/leftarrow.png") !important;
    width: 18px !important;
  }
  .carousel-control-next-icon {
    background-image: url("../../assets/rightarrow.png") !important;
    width: 18px !important;
  }
  .ready {
    background-image: url("../../assets/ready.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .media span {
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  
  }
  .address {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: #FFFFFF;
    text-align: right;
  }
  .address p {
    line-height: 27px;
  }
  
  .copy {
    font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      line-height: 21.78px;
      color: #FFCC00;
  }
  
  
  
  @media (max-width: 768px)  {
    .banner-head {
      font-size: 2rem;
  }
  
  .banner-text {
    font-size: 1.5rem;
  }
  .banner {
     min-height: auto; 
  }
  .sm-d-g {
    display: grid;
  }
  .sm-o-1 {
    order: 1;
  }
  .sm-o-2 {
    order: 2;
  }
  .content-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  #scroll {
    white-space: nowrap;
    display: flow;
    flex-wrap: wrap;
    justify-content: end;
    margin: 15px 16px 25px 16px;
    overflow-y: auto;
    height: 400px;
    text-align: center;
  }
  .address {
    text-align: left !important;
  }
  .country-img {
    height: 200px !important;
  }
  }
  
  
  
  .quote-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .text {
    width: 100%;
    height: 100%;
    /*BLUE BG*/
    background: radial-gradient(
      ellipse at center,
      #D9D9D966 0%,
      #D9D9D966 70%,
      rgba(0, 128, 172, 0) 70.3%
    );
    /*RED BG
    background: radial-gradient(
      ellipse at center,
      rgba(210, 20, 20, 1) 0%,
      rgba(210, 20, 20, 1) 70%,
      rgba(210, 20, 20, 0) 70.3%
    );*/
    position: relative;
    margin: 0;
    color: #000;
  }
  
  .text p {
    height: 100%;
    font-size: 21px;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    top: 26%;
    position: relative;
  }
  
  .text::before {
    content: "";
    width: 50%;
    height: 100%;
    float: left;
    shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
    );
    shape-margin: 7%;
  }
  
  .text p::before {
    content: "";
    width: 50%;
    height: 100%;
    float: right;
    shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
    );
    shape-margin: 7%;
  }
  
  