img.img-fluid.nav-country-img {
    position: absolute !important;
    cursor: pointer !important;
    border-radius: 15px !important;
    height: 193px;
}
.nav-country-text {
    display: flex;
    bottom: top;
    left: 0px;
    background: #3F3F3FB2;
    padding: 10px;
    position: absolute;
    width: -webkit-fill-available;
    top: 118px;
    color: #4CCD10;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.logo {
    height: 100px;
    width: 100px;
}
.search-style{
    border: 1px solid #E0E0E0;
    /* border-radius: 10px; */
    margin-top: 9px;
    padding: 5px;
    margin-left: 20px;
    width: 70%;
}
.scroll-condi{
    visibility: hidden;
}
.lang {
    font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: right;

}
.nav-signup {
    font-family: Inter;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: left;
}
.nav-login-btn {
font-size: 16px !important;
font-weight: 500 !important;
line-height: 24px !important;
text-align: left;
box-shadow: 0px 1px 2px 0px #0000000D !important;
background: #25DD6E !important;
border: 0 !important;
}
button.btn.dropdown-toggle.nav-menu.show {
    border: 0 !important;
}
.nav-menu {
    font-family: Inter;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    text-align: left !important;
}
.carrow {
    height: 30px !important;
    width: 30px !important;
    padding: 4px !important;
    margin: 9px !important;
}
.nav-menu-header {
    font-family: Inter;
font-size: 48px !important;
font-weight: 600 !important;
letter-spacing: -0.01em;
text-align: left;
color: #000 !important;
}
.nav-about-btn {
    background: #f0f0f0 !important;
    height: 200px !important;
    width: 200px !important; 
    border-radius: 100% !important;
    font-family: Inter !important;
    font-size: 21px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
    letter-spacing: -0.01em !important;
    text-align: center !important;
}
button.btn.btn-discover {
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
background: #F7F7F7;
width: 100%;
}
.table-head {
    font-family: Inter;
font-size: 16px;
font-weight: 600 !important;
line-height: 24px;
text-align: left;
color: #828282 !important;
}
.my-1.hrline {
    border-top: 1px solid #E0E0E0
}
.table-data {
    font-family: Inter;
font-size: 16px !important;
font-weight: 500 !important;
line-height: 24px !important;
text-align: left !important;
cursor:  pointer !important;
}
.min-scroll {
    height: 310px !important;
    overflow-y: scroll !important;
    padding: 0rem 1rem !important;
}
.min-scroll::-webkit-scrollbar {
    width: 15px !important;
  }
  
  /* Track */
  .min-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #D9D9D9 !important; 
    border-radius: 10px !important;
  }
   
  /* Handle */
  .min-scroll::-webkit-scrollbar-thumb {
    background: #9E9B9B !important; 
    border-radius: 10px !important;
  }
  
  /* Handle on hover */
  .min-scroll::-webkit-scrollbar-thumb:hover {
    background: #9E9B9B !important; 
  }
.ind-img {
    width: 90px !important;
    height: 90px !important;
    object-fit: cover !important;
    border-radius: 50%;
}
p.ind-img-cap {
font-family: Inter;
font-size: 16px !important;
font-weight: 400 !important;
line-height: 24px !important;
text-align: center !important;
margin-top: 8px !important;
}
.indus-scroll {
    height: 450px !important;
    overflow-y: scroll !important;
    padding: 1rem 1rem !important;
    margin: 0.7rem 0.1rem !important;
}
.indus-scroll::-webkit-scrollbar {
    width: 15px !important;
  }
  
  /* Track */
  .indus-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #D9D9D9 !important; 
    border-radius: 10px !important;
  }
   
  /* Handle */
  .indus-scroll::-webkit-scrollbar-thumb {
    background: #9E9B9B !important; 
    border-radius: 10px !important;
  }
  
  /* Handle on hover */
  .indus-scroll::-webkit-scrollbar-thumb:hover {
    background: #9E9B9B !important; 
  }
  .b-l-r {
    border-left: 12px solid #E0E0E0 !important;
    border-right: 1px solid #E0E0E0 !important;
  }
.in-data.active {
    background: silver !important;
    border-radius: 4px !important;
    padding: 7px !important;
}
.in-data {
    border-radius: 4px !important;
    padding: 0px 7px !important;
}
.dropdown-toggle::after {
    display: none !important;
}


.search{
    padding-top: 2px;
    padding-left: 42px;
    position: absolute;
    max-width: 95%;
  }
  
  .search .sticky{
    z-index: 100;
    max-width: 130vh;
    min-width: 130vh;
  }
  .w-130{
    width: 150px;
  }
  
  .table{
    /* background-color: white; */
    margin-top: 60px;
    border-radius: 8px;
    height: 74px;
    width: 700px;
    padding: 8px 16px;
    margin-left: 50px;
  }
  
  .suggestion{
    max-height: 0px;
    width: 800px;
    /* background-color: #FFFFFF; */
    margin-left: 90px;
    overflow: auto;
    position: absolute;
    z-index: 100;
    transition: max-height 0.3s ease;
  }
  
  .suggestion#part{
    max-height: 300px;
  }
  
  .suggestion #part{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    border-bottom: 1px solid #E0E0E0;
  }
  
  .suggestion #part:hover{
    background-color: rgba(0,0,0,0.3);
  }
  
  .suggestion #part p{
    margin-left: 10px;
  }
  
  #drop{
    border-right: 1px solid black;
    width: 159px;
    font-size: 16px;
  }
  
  #drop img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  
  .searchbar{
    font-size: 30px;
    padding-left: 8px;
    margin-right: 0;
  }
  .searchbar:focus{
    box-shadow: 0 0 0 .25rem rgb(13 110 253 / 0%) !important;
  }
  
  input:focus{
    box-shadow: 0 0 0 .25rem rgb(13 110 253 / 0%) !important;
  }
  .btn:active{
    border: none !important;
  }
  .searchbox .inputs{
    width: 400px;
    height: 35px;
    border: none;
    font-size: 20px;
    border-left: 2px solid;
      padding-left: 50PX;
      font-size: 14px;
      color: #828282;
  }
  
  .searchbox .inputs:focus{
    outline: none;
  }
  
  .buttons{
    width: 128px;
    text-align: center;
    padding-right: 12px;
  }
  
  .rbutton{
    width: 128px;
    height: 52px;
    padding: 14px 24px 14px 24px;
    border-radius: 20px;
    background: #008E39;
    border: #008E39;
    /* box-shadow: 0px 1px 2px 0px #0000000D; */
    color: white;
  }
  
